<div class=''>
    
    
    <div class='card-body c-body' >
      <div class='row movie-row'>
        <div *ngFor='let movie of movies' class='col-md-2 movies'>
          <a [routerLink]="['/movie-list', movie.objectId]">
            <div class='item'>
            <div><img [src]='movie.image.url'/></div>
            <div class='movie-title'>{{movie.title}}</div>
            <div class='movie-rating' id='releaseYear'> {{movie.releaseYear}}
            </div>
          </div> </a>
        </div>
     
      </div>
    </div>
</div>