<div class='card'>
    <div class='card-header'>
        Movie list
    </div>
    
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Rank</th>
                        <th>Title</th>
                        <th>Rating</th>
                        <th>Fav Icon</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor = 'let movie of movies'>
                        <td><img [src]='movie.movieBanner'></td>
                        <td>{{movie.movieRank}}</td>
                        <td>{{movie.movieTitle}}</td>
                        <td>{{movie.movieRating}}</td>
                        <td></td>
                    </tr>
                </tbody>   
                
            </table>
        </div>
    </div>
</div>